body,html{
	background-color: #efeff5;;
}
.mui-table-view .mui-media-object{
	line-height: 28px;
	max-width: 28px;
	height: 28px;
}
.list-title{
	line-height: 28px;
	height: 28px;
	display: inline-block;
}
.mui-table-view{
	margin-bottom: 25px;
}
.mui-media-object.mui-pull-right{
	margin-left: 0px !important;
	margin-right: 20px;
	position: relative;
}
.mui-media-object.mui-pull-right>img{
	width: 100%;
	height: 100%;
}
.redPoint{
	width: 5px;
	height: 5px;
	background-color: red;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 100%;
}
